.btn-glow {
  cursor: pointer;
  color: $white!important;
  display: inline-block;
  background: $accent;
  background: -moz-linear-gradient(45deg, rgba($accent-dark, 1) 0%, rgba($primary, 1) 100%);
  background: -webkit-linear-gradient(45deg, rgba($accent-dark, 1) 0%,rgba($primary, 1) 100%);
  background: linear-gradient(45deg, rgba($accent-dark, 1) 0%,rgba($primary, 1) 100%);
  border: none;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 30px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  box-shadow: none;
  animation: glow 3s infinite;
  animation-timing-function: ease-out;
  position: relative;
  &-small {
    padding: 15px;
    font-size: 2rem;
  }
}

.btn-glow:hover {
  box-shadow: 0 0 0 10px #3daaa200;
  transition: .8s;
  -webkit-transition: .8s;
}

@keyframes glow{
    0% { box-shadow: 0 0 20px $accent-dark; text-shadow:  0 0 0px $accent-light; }
    40% { box-shadow: 0 0 100px $accent-dark; text-shadow:  0 0 20px $accent-light;}
    100% { box-shadow: 0 0 20px $accent-dark; text-shadow:  0 0 1px $accent-light; }
}

.btn-hover-shine {
  position: relative;
}

.btn-hover-shine:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  right: 80%;
  width: 1px;
  background-color: #ffffff00;
  box-shadow: 0 0 20px #ffd2fe00, 0 0 10px #ffd2fe00, 0 0 5px #ffd2fe00, 0 0 2px #ffd2fe00;
  opacity: 1;
}

.btn-hover-shine:hover:after {
  right: 2%;
  background-color: #ffffffff;
  box-shadow: 0 0 30px #ffd2feff, 0 0 15px #ffd2feff, 0 0 7px #ffd2feff, 0 0 3px #ffd2feff;
  opacity: 0;
  transition: 0.6s;
  -webkit-transition: 0.6s;
}

.ui.basic.button.rewrited {
  transition: .2s all ease-in-out !important;
  border: 3px solid $accent;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: none;
  text-transform: uppercase;
  color: $primary-light !important;
  text-shadow: 2px 2px $accent-dark !important;
  background-color: rgba($black, .5) !important;
  &:hover {
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, rgba($accent, 1) 0%,rgba($primary, 1) 100%);
    background-color: $primary-light !important;
    color: $accent-dark !important;
    text-shadow: 2px 2px $primary-dark !important;
  }
  &::after {
    border-width: 3px;
    border-color: $accent;
  }
}
