input:-internal-autofill-selected {
  background-color: transparent !important;
}

.input-container, textarea, input[name="dateRange"] {
  transition: all .2s ease-in-out;
  border-bottom: 5px double $accent;
  // box-shadow: inset 0px 0px 5px 5px rgba($black, 0.25);
  padding: 3px;
  margin-bottom: 1rem;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: $white !important;
  text-shadow: 4px 4px $accent-dark;
  font-size: 2rem;
  &:active, &:focus {
    outline: none;
  }
}

input.error, textarea.error, .rangepicker.error {
  border-bottom: 5px double $red;
  text-shadow: 4px 4px $red;
}

.ui.transparent.icon.input>input {
  padding-right: 3rem !important;
}