$primary-light: #ffba7e;
$primary: #f08f3c;
$primary-dark: #c55b00;

$accent-light: #ff7ce4;
$accent: #eb4ecb;
$accent-dark: #900072;

$white: #fff;
$grey: #2B343A;
$black: #000;

$header-height: 60px;
