@import './fonts';
@import './vars';

//components
@import './_components/header';
@import './_components/sidebar';
@import './_components/work-timeline';
@import './_components/button-glow';

// pages
@import './_pages/index.scss';
@import './_pages/work';

*::-webkit-scrollbar {
  display: none;
}

html, body {
  min-height: 100%;
  width: 100%;
  font-family: 'RobotoCondensed' !important;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url('/assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'RobotoCondensed' !important;
  font-weight: bold;
  font-style: normal;
}

.base-page {
  margin: 3rem 0 3rem 0;
}

.special-text {
  color: $primary-light;
  text-shadow: 4px 4px $accent-dark;
  &-small {
    color: $primary-light;
    text-shadow: 2px 2px $accent-dark;
  }
}

.image-bordered-shadow {
  border: 5px double $accent;
  box-shadow: 5px 5px 10px 15px rgba($black, 0.75);
}

.blur {
  filter: blur(10px) grayscale(0.4);
}

@import './respo';
