@mixin font-face($font-family, $type, $weight, $style) {
	@font-face {
    font-family: '#{$font-family}-#{$type}';
    src: url('/assets/fonts/#{$font-family}/#{$font-family}-#{$type}.ttf') format('truetype');
    font-weight: '#{$weight}';
		font-style: '#{$style}';
		// src: url('#{$url}.eot');
		// src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
		    //  url('#{$url}.woff') format('woff'),
		    //  url('#{$url}.svg') format('svg');
	}
}