.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
}

.hero-section {
  perspective: 1000px;
  color: $white;
  width: 400px;
  position: relative;
  margin: auto;

  h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &-content {
    position: absolute;
    bottom: 20px;
    left: 6%;
    z-index: 1;

    &-intro {
      font-size: 20px;
    }
  }
}

.image {
  width: auto;
  max-width: 100%;
  border: 5px double $accent;
  box-shadow: 0px 0px 30px 10px rgba($primary, 0.3);
}

.hero-welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;

  .self-typed-wrapper {
    .self-typed {
      font-size: 4.5rem;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  &-text h1 {
    color: $white;
    text-transform: uppercase;
    font-size: 40px;
    padding-right: 10px;
  }

  &-bio {
    color: $white;
    h2 {
      font-size: 40px;
    }
  }
}
