.home-section {
  > div {
    margin-top: 0 !important;
    height: calc(100% - 60px) !important;
  }
}

.ui.stackable.two.column.grid {
  margin-top: 3rem;
}

.hero-section {
  perspective: 1000px;
  color: $white;
  width: 400px;
  position: relative;
  margin: auto;

  h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &-content {
    position: absolute;
    bottom: 20px;
    z-index: 1;
    padding: 20px;
    &-intro {
      font-size: 20px;
    }
  }
}

.image-section-1 {
  width: auto;
  max-width: 100%;
}

.image-section-2 {
  transition: 0.5s all ease-in-out;
  width: 90%;
  border-left: none !important;
}

.image-section-3 {
  width: 30%;
  border-left: none !important;
}

.image-section {
  width: 100%;
}

.hero-welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;

  .self-typed-wrapper {
    .self-typed {
      font-size: 4.5rem;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  &-text h1 {
    color: $white;
    text-transform: uppercase;
    font-size: 3rem;
    padding-right: 10px;
  }

  &-bio {
    color: $white;
    h2 {
      font-size: 3rem;
    }
  }
}

.title-with-awesome {
  position: absolute;
  margin: 0;
  top: 0;
  left: 40%;
  font-size: 5rem;
  transform: rotate(-16deg);
  font-family: 'DancingScript' !important;
  text-transform: uppercase;
  span {
    display: inline-block;
    line-height: 3rem;
    font-size: 2rem;
    text-transform: none;
  }
}

.parallax-container {
  margin-top: 3rem;
}
