.timeline {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 140px;
    height: 100%;
    width: 8px;
    background: linear-gradient(180deg, $primary 0%, $accent 100%);
    border-radius: 10px;
  }
}

